<apex:page standardController="Case" extensions="GetInvoiceDataController" sidebar="false" showHeader="false" >
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system.css')}"/>
        <script>
         function Mark() 
        { 
            if ( (typeof sforce != 'undefined') && sforce && (!!sforce.one) )  {
                sforce.one.navigateToURL(idofcase);
                
            } 
            else {
                window.open('/'+idofcase);
            }
        };
        </script>
        <apex:form >
            <apex:pageMessages ></apex:pageMessages>
            <apex:outputPanel rendered="{!If(allInvoices!=null,true,false)}">
               
                  <apex:commandButton value="Back To Settlement Case" action="{!backTocase}"  style="color: #0070d2;border-radius: 0.25rem; shape-margin: initial;background: white;line-height:inherit;margin-right: 10px;margin-left:10px;width:160px;height:35px;font-weight: 100;border: 1px solid #d8dde6;"/>
                <div class="slds" id="block" style="padding-top:0px; padding-bottom:0px; margin-top:10px;">
                    <div id="mainheader" >
                        <div class="slds-media__body">
                            <div class="slds-page-header__title slds-truncate slds-align-middle" style="color:rgb(84, 105, 141);font-size:2rem;font-weight:bold; text-align: center;">Tenant RP</div>
                        </div> 
                        <apex:repeat value="{!allInvoices.data.invoices}" var="invoice" id="APR6">
                            <div class="slds-box slds-size--11-of-12" style="margin: 0 auto; margin-top:20px; margin-bottom:30px; padding: 0;">
                                <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal slds-form--inline slds-no-row-hover" style="background: #637596; border-top: none;"   id="schDetails"  role="grid">
                                    <thead>
                                        <tr id="row">
                                            <th class="slds-text-heading--label slds-size--2-of-12" scope="col" style="color: #ffffff;">Invoice id</th>
                                            <th class="slds-text-heading--label slds-size--2-of-12" scope="col" style="color: #ffffff;">Status</th>
                                            <th class="slds-text-heading--label slds-size--2-of-12" scope="col" style="color: #ffffff;">Old Transaction Id</th>
                                            <th class="slds-text-heading--label slds-size--2-of-12" scope="col" style="color: #ffffff;">Transaction Status</th>
                                            <th class="slds-text-heading--label slds-size--1-of-12" scope="col" style="color: #ffffff;">Paid On</th>
                                            <th class="slds-text-heading--label slds-size--1-of-12" scope="col" style="color: #ffffff;">Amount</th>
                                            <th class="slds-text-heading--label slds-size--2-of-12" scope="col" style="color: #ffffff;">Mode Of Payment</th>
                                            <th class="slds-text-heading--label slds-size--2-of-12" scope="col" style="color: #ffffff;">Message</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background: #d8dde6;">
                                        
                                        <tr>
                                            <td>
                                                <apex:outputText value="{!invoice.invoice_id}"/>
                                            </td>
                                            <td>
                                                <apex:outputText value="{!invoice.status}"/>
                                            </td>
                                            <td>
                                                <apex:outputText value="{!invoice.old_transaction_id}"/>
                                            </td>
                                            <td>
                                                <apex:outputText value="{!invoice.transaction_status}"/>
                                            </td>
                                            <td>
                                                <apex:outputText value="{!invoice.paid_on}"/>
                                            </td>
                                            <td>
                                                <apex:outputText value="{!invoice.amount}"/>
                                            </td>
                                            <td>
                                                <apex:outputText value="{!invoice.mode_of_payment}"/>
                                            </td>                                        
                                            <td class="slds-context-bar__item--divider-right">
                                                <apex:outputText value="{!invoice.message}"/>
                                            </td>
                                        </tr>
                                        <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal" style="margin: 1%; width: 98%; border: 1px solid #d8dde6;" id="schDetails"  role="grid">
                                            <thead>
                                                <tr id="row" style="background: #f4f6f9;">
                                                    <th class="slds-text-heading--label slds-size--2-of-12 slds-context-bar__item--divider-right" scope="col">Status</th>
                                                    <th class="slds-text-heading--label slds-size--2-of-12 slds-context-bar__item--divider-right" scope="col">Reason</th>
                                                    <th class="slds-text-heading--label slds-size--1-of-12 slds-context-bar__item--divider-right" scope="col">Amount</th>
                                                    <th class="slds-text-heading--label slds-size--2-of-12 slds-context-bar__item--divider-right" scope="col">Type</th>
                                                    <th class="slds-text-heading--label slds-size--1-of-12 slds-context-bar__item--divider-right" scope="col">House Id</th>
                                                    <th class="slds-text-heading--label slds-size--1-of-12 slds-context-bar__item--divider-right" scope="col">Due Date</th>
                                                    <th class="slds-text-heading--label slds-size--2-of-12 slds-context-bar__item--divider-right" scope="col">Notes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:repeat value="{!invoice.receivables}" var="rp" id="APR6">
                                                    <tr style="margin-top:10px;" class="slds-is-resizable">
                                                        <td class="slds-cell-wrap slds-context-bar__item--divider-right">
                                                            <apex:outputText value="{!rp.status}"/>
                                                        </td>
                                                        <td class="slds-cell-wrap slds-context-bar__item--divider-right">
                                                            <apex:outputText value="{!rp.reason}"/>
                                                        </td>
                                                        <td class="slds-cell-wrap slds-context-bar__item--divider-right">
                                                            <apex:outputText value="{!rp.amount}"/>
                                                        </td>
                                                        <td class="slds-cell-wrap slds-context-bar__item--divider-right">
                                                            <apex:outputText value="{!rp.type}"/>
                                                        </td>
                                                        <td class="slds-cell-wrap slds-context-bar__item--divider-right">
                                                            <apex:outputText value="{!rp.house_id}"/>
                                                        </td>
                                                        <td class="slds-cell-wrap slds-context-bar__item--divider-right">
                                                            <apex:outputText value="{!rp.due_date}"/>
                                                        </td>
                                                        <td class="slds-cell-wrap slds-context-bar__item--divider-right">
                                                            <apex:outputText value="{!rp.notes}"/>
                                                        </td>
                                                    </tr>
                                                </apex:repeat>
                                            </tbody> 
                                        </table>
                                    </tbody>
                                </table>
                            </div>
                        </apex:repeat>
                    </div>
                </div>
            </apex:outputPanel>   
        </apex:form>
    </html>
</apex:page>