<apex:page sidebar="false" id="houseUploadpage" showHeader="false" standardController="House__c" extensions="HouseImagesUploadExtension">
    <html>
        <head>
            <title>Upload Files using XMLHttpRequest</title>
            
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
            <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
            <!-- <apex:stylesheet value="{!URLFOR($Resource.Nestawayimage)}"/> -->
            <script type="text/javascript">
            var filenameF; //= document.getElementById('fileToUpload').files[0].name;
            var selectedfirst;
            var selectedsecond;
            var selectedfirstText;
            var selectedsecondText;
            var arraYofPhotosToUpdate = [];

            function formatDate(dateInMicroSeconds)
            {
                var vDate = (new Date(dateInMicroSeconds)).toLocaleString().replace(', ',' ');
                vDate  = vDate.slice(0, vDate.indexOf(':') + 3) + vDate.slice(vDate .indexOf(':') + 6);
                window.console.log('vDate' + vDate);
                return vDate;
            }

            function markAsInvisible() {
              $('#myTable input:checked').each(function(item) {
                arraYofPhotosToUpdate.push($(this).val());
              });
              if(arraYofPhotosToUpdate.length<1){
                alert('Please select atleast one photo to mark it invisible.');
                return;
              }
              console.log('----\n'+arraYofPhotosToUpdate);
              HouseImagesUploadExtension.updatePhotosToserverMarkAsInvisible(arraYofPhotosToUpdate,
                function(results, event) { 
                  console.log('results   -  '+results);
                  console.log('event   -  '+event);
                  if(event.type === 'exception'){
                    console.log("***exception from load method"); 
                    console.log('load method'+event); 
                    alert('Failed to update Images.');
                  }
                  else if (event.status) {
                    text = results;
                    if(text != undefined && text != null) {
                      console.log('**UploadLoad method text from apex '+JSON.stringify(text));
                      location.reload();
                    }
                  }
                  else {
                     console.log('load method '+event.message);
                  }
              });
            }
            
            function UploadToWebApp(){
                $('#myTable input:checked').each(function(item){
                    
                    arraYofPhotosToUpdate.push($(this).val());
                });
                console.log('----\n'+arraYofPhotosToUpdate);

                if(arraYofPhotosToUpdate.length<1){
                  alert('Please select atleast one photo to mark it visible.');
                  return;
                }
                
                
                HouseImagesUploadExtension.updatePhotosToserver(arraYofPhotosToUpdate,
                        function(results, event) 
                        { 
                          console.log('results   -  '+results);
                          console.log('event   -  '+event);
                          
                          if(event.type === 'exception'){
                           console.log("***exception from load method"); 
                           console.log('load method'+event); 
                           alert('Failed to update');
                          }
                          else if (event.status) {
                              text = results;
                              if(text != undefined && text != null){
                                  console.log('**UploadLoad method text from apex '+JSON.stringify(text));
                                  location.reload();
                              }
                          }
                          else {
                                console.log('load method '+event.message);
                          }
                  }); 
             }
                       
            
           var handleResult = function(results, event) { 
                      console.log('handle result fn'+results+'\n -- '+event.type);
                      if(event.type === 'exception'){
                       console.log("***exception from load method"); 
                       console.log('load method'+event); 
                      }
                      else if (event.status) {
                        text = results;
                          if(text != undefined && text != null){
                        console.log('@@@Load method text from apex '+JSON.stringify(text)+text.length);
                        
                          var html = '';
                    
                        for(var i=0;i<text.length;i++){
                            var ids = text[i].Id;
                            console.log('id  '+ i+'th   '+ids+'\n--->'+JSON.stringify(text[i]));
                            html+='<tr ><td style="text-align:center"><input id= '+ids+' type="checkbox" value='+ids+' name="selectImage"  /></td>'; 
                            html+= '<td style="text-align:center">'+text[i].Name+'</td>';
                            html+= '<td style="text-align:center"><a href='+text[i].Image_Url__c+' target="_blank">'+text[i].Image_Url__c+'<img src='+text[i].Image_Url__c+'  alt="Smiley face" height="42" width="42" /></a></td>';
                             //html+= '<td style="text-align:center">'+text[i].Name+'</td>';
                            html+= '<td style="text-align:center">'+text[i].Is_Visible__c+'</td>';

                            var dateCreated = formatDate(text[i].CreatedDate);  
                            html+= '<td style="text-align:center">'+dateCreated+'</td></tr>';
                            $('#myTable').append(html);
                            html = '';
                         }
                          }
                          
                      }
                      else {
                        console.log('load method '+event.message);
                      }
            
            }
            
            window.onload = function() {
                 //alert("let's go!");
                 onLoadVf();
            }
            
            function onLoadVf(){
                console.log(' - house id '+ '{!houseid}');
                var xxx = '{!houseid}';
                console.log('house ID  xxx '+xxx);
                
                //Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.HouseImagesUploadExtension.onLoadPhotoUploadPg}',
                 //                                               xxx,handleResult);
                
                HouseImagesUploadExtension.onLoadPhotoUploadPg(xxx, 
                  function(results, event) 
                  { 
                      console.log('callback for remote function.'+results+'\n -- '+event.type);
                      if(event.type === 'exception'){
                       console.log("***exception from load method"); 
                       console.log('load method'+event); 
                      }
                      else if (event.status) {
                        text = results;
                          if(text != undefined && text != null){
                        console.log('@@@Load method text from apex '+JSON.stringify(text)+text.length);
                        
                          var html = '';
                    
                        for(var i=0;i<text.length;i++){
                            var ids = text[i].Id;
                            console.log('id  '+ i+'th   '+ids+'\n--->'+JSON.stringify(text[i]));
                            html+='<tr ><td style="text-align:center"><input id= '+ids+' type="checkbox" value='+ids+' name="selectImage"  /></td>'; 
                            html+= '<td style="text-align:center">'+text[i].Name+'</td>';
                            try{
                            if(text[i].Image_Tag__c == 'Bathroom') {
                                var bathroomname = text[i].Image_Tag__c;
                                if(text[i].Bathroom__r != undefined)
                                    bathroomname = bathroomname + ' - '+text[i].Bathroom__r.Name;
                                html+= '<td style="text-align:center">'+bathroomname+'</td>';
                            }
                            else if(text[i].Image_Tag__c == 'Bedroom'){
                                var roomname = text[i].Image_Tag__c;
                                if(text[i].Room_Term__r != undefined)
                                    roomname = roomname + ' - '+text[i].Room_Term__r.Name;
                                html+= '<td style="text-align:center">'+roomname+'</td>';
                            }
                            else{
                                 html+= '<td style="text-align:center">'+text[i].Image_Tag__c+'</td>';
                            }
                            }
                            catch(e){
                                console.log('Exception ->  '+e);
                            }
                            html+= '<td style="text-align:center"><a href='+text[i].Image_Url__c+' target="_blank"><img src='+text[i].Image_Url__c+'  alt="Smiley face" height="42" width="42" /></a></td>';
                             //html+= '<td style="text-align:center">'+text[i].Name+'</td>';
                            html+= '<td style="text-align:center">'+text[i].Is_Visible__c+'</td>';
                            var date = new Date(text[i].CreatedDate); 
                            //results.Date__c = date.toLocaleDateString();
                            var dateCreated = formatDate(text[i].CreatedDate);  
                            html+= '<td style="text-align:center">'+dateCreated+'</td></tr>';
                            
                            $('#myTable').append(html);
                            html = '';
                         }
                          }
                          
                      }
                      else {
                        console.log('load method '+event.message);
                      }
                  }); 
            }
            
            function saveResponse(url_string){
                //alert(selectedVal+selectedString);
              console.log('!!!!!'+selectedfirst+'\n !!!'+selectedfirstText+'\n !!!'+selectedsecond+'\n !!!'+selectedsecondText+'\n !!!'+url_string);
              HouseImagesUploadExtension.callApexToCreatePhotos(selectedfirst,selectedsecond,selectedfirstText,selectedsecondText,url_string, 
                  function(results, event) 
                  { 
                      if(event.type === 'exception'){
                       console.log("exception"); 
                       console.log(event); 
                      }
                      else if (event.status) {
                        text = results;
                        console.log('text from aapex '+text);
                        if(text != 'Record inserted sucessfully'){
                            alert('No attached bathroom present for the room so the image has not been saved.');
                            return;
                        }
                        else{
                            location.reload();
                        }
                        } else {
                        console.log(event.message);
                      }
                  }); 
              
              }
            
            
            function fileSelected() {
                var file = document.getElementById('fileToUpload').files[0];
                if (file) {
                    var fileSize = 0;
                    if (file.size > 1024 * 1024)
                        fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                    else
                        fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
                    
                    document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
                    document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
                    document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
                }
            }
            
            function uploadFile() {
                
                if(document.getElementById('fileToUpload').files[0] == undefined)
                {    alert('Select a file');
                    return;
                }
                if(document.getElementById('fileToUpload').files[0] != undefined){
                    //console.log('****File type '+document.getElementById('fileToUpload').files[0].type);
                    if(document.getElementById('fileToUpload').files[0].type == 'image/jpeg' || document.getElementById('fileToUpload').files[0].type == 'image/png' || document.getElementById('fileToUpload').files[0].type == 'jpeg' || document.getElementById('fileToUpload').files[0].type == 'png' ){
                   // alert('file format is correct.');
                    
                    }
                    else{
                        alert('You can upload a file of type jpeg,jpg or png only');
                        return
                        //alert(document.getElementById('fileToUpload').files[0].type);
                    }
                }
                filenameF = document.getElementById('fileToUpload').files[0].name;
                var x = document.getElementById('{!$Component.houseUploadpage:form:selectedOptions}');
                var slect1 = x.options[x.selectedIndex].value;
                if(slect1 == '-Select-'){
                    alert('Please select the type of image from the 1st dropdown list.');
                    return;
                }
                console.log('**********slect1'+slect1);
                //var y = document.getElementById('{!$Component.houseUploadpage:form:selectedOptionssecondry}');
                //var slect2 = y.options[y.selectedIndex].value;
                var y;
                var slect2;
                if(x.options[x.selectedIndex].text.split('-')[0] == 'House'){
                    $('#'+'{!$Component.houseUploadpage:form:selectedOptionssecondry}').css("display", "block"); 
                    y = document.getElementById('{!$Component.houseUploadpage:form:selectedOptionssecondry}');
                     slect2 = y.options[y.selectedIndex].value;
                    $('#'+'{!$Component.houseUploadpage:form:selectedOptionstertiary}').css("display", "none");
                    //alert('monkey');
                }
                if(x.options[x.selectedIndex].text.split('-')[0] == 'Room'){
                    //alert('donkey');
                        $('#'+'{!$Component.houseUploadpage:form:selectedOptionstertiary}').css("display", "block");
                        y = document.getElementById('{!$Component.houseUploadpage:form:selectedOptionstertiary}');
                        slect2 = y.options[y.selectedIndex].value;
                        $('#'+'{!$Component.houseUploadpage:form:selectedOptionssecondry}').css("display", "none"); 
                }
                
                
                selectedfirstText = x.options[x.selectedIndex].text;
                selectedsecondText = y.options[y.selectedIndex].text;
                
                selectedfirst = slect1;
                selectedsecond = slect2;
                
                
                if(selectedfirst == undefined || selectedfirst ==''){
                    selectedfirst = ' ';
                }
                if(selectedsecond == undefined || selectedsecond ==''){
                    selectedsecond = ' ';
                }
                if(selectedfirstText == undefined || selectedfirstText ==''){
                    selectedfirstText = ' ';
                }
                if(selectedsecondText == undefined || selectedsecondText ==''){
                    selectedsecondText = ' ';
                }
                
                console.log('@@@selectedfirst'+selectedfirst+' --selectedsecond - '+selectedsecond);

                console.log('@@@selectedfirstText'+selectedfirstText+' --selectedsecondText - '+selectedsecondText);
                
                console.log('*****'+x+slect1+'\n'+y+slect2);
                if(slect1 != '-Select-' && slect2 != '-Select-' && slect1 != undefined && slect2 != undefined){
                    
                    console.log('*****filenameF '+filenameF);
                    var fd = new FormData();
                    fd.append("fileToUpload", document.getElementById('fileToUpload').files[0]);
                    var xhr = new XMLHttpRequest();
                   // xhr.setRequestHeader("Access-Control-Allow-Headers", numberOfBLObsSent + 1);
                    xhr.upload.addEventListener("progress", uploadProgress, false);
                    xhr.addEventListener("load", uploadComplete, false);
                    xhr.addEventListener("error", uploadFailed, false);
                    xhr.addEventListener("abort", uploadCanceled, false);
                    //xhr.open("POST", "https://xphfhxlyvr.localtunnel.me/api/v3/sf_integration/outbound_sync/create_or_update?web_entity=photo_upload&auth=16f20b9a1913b16ca99e020e04dfbd04035a12e7294fc08a29595e1241038756");
                    //xhr.open("POST","https://www.staging.nestaway.xyz/api/v3/sf_integration/outbound_sync/create_or_update?web_entity=photo_upload&auth=16f20b9a1913b16ca99e020e04dfbd04035a12e7294fc08a29595e1241038756");
                    //xhr.open("POST","https://d4f79bce.ngrok.io/api/v3/sf_integration/outbound_sync/create_or_update?web_entity=photo_upload&auth=16f20b9a1913b16ca99e020e04dfbd04035a12e7294fc08a29595e1241038756");
                    xhr.open("POST","https://www.nestaway.com/api/v3/sf_integration/outbound_sync/create_or_update?web_entity=photo_upload&auth=16f20b9a1913b16ca99e020e04dfbd04035a12e7294fc08a29595e1241038756");

                    //saveResponse('https://d397nwo9hbvzsm.cloudfront.net/uploads/images/4dacb9fe64.jpeg');

                    xhr.send(fd);
                    
                }
                else if(slect1 == '-Select-' || slect1 == undefined){
                    console.log('Please select the type of image from the 1st dropdown list');
                    alert('Please select the type of image from the 1st dropdown list');
                    
                }
                if(slect2 == '-Select-' || slect2 == undefined){
                    console.log('Please select the type of image from the 1st dropdown list');
                    alert('Please select subcategory of the image.');
                    
                }
                
            }
            
            function uploadProgress(evt) {
                if (evt.lengthComputable) {
                    var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                    console.log(percentComplete);
                    document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
                }
                else {
                    document.getElementById('progressNumber').innerHTML = 'Unable to compute';
                }
            }
            
            function uploadComplete(evt) {
                /* This event is raised when the server send back a response */
                //alert('event target'+evt.target.responseText+evt.response);
                console.log('event.target data '+evt.response +evt.target.responseText);
                //console.log('event.target '+JSON.parse(evt.target.responseText).data);
                //console.log('evt'+evt);
                //console.log(JSON.parse(evt.target.responseText).success );
                if(JSON.parse(evt.target.responseText).success == true ){
                   /* var html = '<tr><td style="text-align:center"><input id="selectImage" type="checkbox" name="selectImage" value="false"/></td>'; 
                    html+= '<td style="text-align:center">'+filenameF+'</td>';
                    html+= '<td style="text-align:center"><img src=https:'+JSON.parse(evt.target.responseText).data+'  alt="Smiley face" height="42" width="42" /></td>';
                    html+= '<td style="text-align:center">false</td></tr>';
                    $('#myTable').append(html);*/
                    saveResponse('https:'+JSON.parse(evt.target.responseText).data);
                }
                else{
                  alert('File upload was failed.Cannot connect to server.'); 
               }
                                        
                                    
                
            }
            
            function uploadFailed(evt) {
                alert("There was an error attempting to upload the file.Cannot connect to server.");
                //$("#inputContainer").load(location.href + " #inputContainer");

            }
            
            function uploadCanceled(evt) {
                alert("The upload has been canceled by the user or the browser dropped the connection.");
            }
            </script>
            <style>
                .row{width: 50% !important;margin-left: 25%;}
                .row_2{width: 40% !important;margin-left: 35%; background: #c5d0ca !important;#c5d0ca;}
                .ui-input-btn{background: #63ab83 !important;}
                /*.imageclass{background-image: url('imagenestawayZip/nestawayImage.jpg' !important; }
                .imageclass: url('imagenestawayZip/nestawayImage.jpg')*/
                
            </style>
        </head>
        <!-- <body onload="onLoadVf();"> -->
        <body id = "Htmlbody">
            <apex:form id="form">
                <div data-role="page" class="imageclass">
                    <div data-role="header">
                        <h1>Upload Image</h1>
                    </div>
                    <div data-role="main" class="ui-content">
                        <div id="inputContainer">
                            <form id="form1" enctype="multipart/form-data" method="post" action="Upload.aspx">
                                <div class="row">
                                    <input type="file" name="fileToUpload" multile="true" id="fileToUpload" onchange="fileSelected();"/>
                                    <br/>
                                    Image for :
                                    <apex:selectList size="1" required="true" value="{!selectedValue}" id="selectedOptions" >
                                       
                                        <apex:actionSupport event="onchange" action="{!setTruefalseForPicklist}" reRender="fisrtoutputpanel, secoutputpanel"/>
 
                                       <!-- <apex:actionFunction name="getSecondaryPickVals"  action="{!getSecondaryPickVals}" reRender="selectedOptionssecondry" /> -->
                                        
                                        <apex:selectOptions value="{!Items}"></apex:selectOptions>
                                    </apex:selectList>
                                    <div id="hideshow">
                                        
                                        <apex:outputPanel rendered="{!renderSecPicklist}" id="fisrtoutputpanel">
                                            Select House Subsection :
                                            <apex:selectList size="1" required="true" value="{!secondrySelectedValue}" id="selectedOptionssecondry">
                                                <apex:selectOptions value="{!SecondList}"></apex:selectOptions>
                                            </apex:selectList>
                                       </apex:outputPanel>
                                       <apex:outputPanel rendered="{!renderThirdPicklist}" id="secoutputpanel"> 
                                            Select Room Subsection :
                                           <apex:selectList size="1" required="true" value="{!secondrySelectedValue}" id="selectedOptionstertiary">
                                            <apex:selectOptions value="{!ThirdList}"></apex:selectOptions>
                                        </apex:selectList>
                                        </apex:outputPanel>
                                    </div>

                                </div>
                                <br/>
                                <div class="row_2">
                                    <div id="fileName"></div>
                                    <div id="fileSize"></div>
                                    <div id="fileType"></div>
                                </div>
                                <br/> <br/>
                                <div id="progressNumber" class="row" style="color:Green !important;"></div>
                                <div class="row">
                                    <input type="button" onclick="uploadFile()" value="Upload Photo" />
                                </div>
                                
                            </form>
                        </div>
                        <br/>
                        <div id="displaycontainer" style="border-style: solid 2px; !important;">
                            <br/>
                            <div class="row">
                                    <input type="button" onclick="UploadToWebApp()" value="Mark as Visible" />
                                    <input type="button" onclick="markAsInvisible()" value="Mark as Invisible" />
                            </div>
                            <br/>
                            <table  border="2" data-role="table" class="ui-responsive" id="myTable" >
                                <thead>
                                    <tr style="background:grey!important;text-shadow:none !important;">
                                        <th style="text-align:center">Select</th>
                                        <th style="text-align:center">Image Name</th>
                                        <th style="text-align:center">Image For</th>
                                        <th style="text-align:center">Image</th>
                                        <th style="text-align:center">Is Visible</th>
                                        <th style="text-align:center">Created Date/Time</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </apex:form>
        </body>
    </html>

</apex:page>