<apex:page standardController="WorkOrder" extensions="WorkOrderPageClass" >
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <apex:stylesheet value="{!URLFOR($Resource.SLDS, 'assets/styles/salesforce-lightning-design-system.css')}"/>
        <script>
        
        function redirectURL(recId) 
        { 
            
            if ( (typeof sforce != 'undefined') && sforce && (!!sforce.one) )  {
                console.log('test1');
                sforce.one.navigateToSObject(recId);
            } else {
                console.log('test');
                window.open('/'+recId, "_parent");
            }
        };
        </script>
        <script>
        function Mark() 
        { 
            if ( (typeof sforce != 'undefined') && sforce && (!!sforce.one) )  {
                sforce.one.navigateToURL("/a3N/e");
                
            } 
            else {
                window.open("/a3N/e","_parent");
            }
        };
        </script>
        
        <apex:form >
            <apex:pageMessages ></apex:pageMessages>
            <div class="slds" id="block" style="padding-top:0px;padding-bottom:0px;">
                <div class="slds-box" id="mainheader" >
                    <apex:outputPanel rendered="{!hic}">
                        <div class="slds-box" style="padding-top:0px;">
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer"  id="schDetails">
                                <thead>
                                    <tr id="row">
                                        <th class="slds-text-heading--label slds-size--2-of-12" scope="col">House Checklist</th>
                                        <th class="slds-text-heading--label slds-size--2-of-12" scope="col">Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!workoderList}" var="o" id="APR6">
                                        <apex:repeat value="{!o.Checklist__r}" var="c" id="APR6">
                                            <tr>
                                                <td>
                                                    <apex:outputlink onclick="redirectURL('{!c.id}')" style="font-size: 14px;font-family: 'Salesforce Sans',Arial,sans-serif;">{!c.Name}</apex:outputlink>
                                                </td>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == '')}">
                                                    <td>
                                                        <apex:outputField value="{!c.CheckList_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Maintenance')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Maintenance_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Furnishing and DTH / Wifi Connection')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Furnishing_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Verification')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Verification_Done__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                            </tr>
                                        </apex:repeat>
                                    </apex:repeat>
                                </tbody> 
                            </table>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!ric}">
                        <div class="slds-box" style="margin-top:5px;">
                            
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer"  id="schDetails">
                                <thead>
                                    <tr id="row">
                                        <th class="slds-text-heading--label slds-size--2-of-12" scope="col">Room Checklist</th>
                                        <th class="slds-text-heading--label slds-size--2-of-12" scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!workoderList}" var="o" id="APR2">
                                        <apex:repeat value="{!o.Room_Inspection__r}" var="c" id="APR3">
                                            <tr>
                                                <td>
                                                    <apex:outputlink onclick="redirectURL('{!c.id}')" style="font-size: 14px;font-family: 'Salesforce Sans',Arial,sans-serif;">{!c.Name}</apex:outputlink>                                            </td>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == '')}">
                                                    <td>
                                                        <apex:outputField value="{!c.CheckList_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Maintenance')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Maintenance_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Furnishing and DTH / Wifi Connection')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Furnishing_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Verification')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Verification_Done__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                
                                            </tr>
                                        </apex:repeat>
                                    </apex:repeat>
                                </tbody> 
                            </table>
                        </div>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!bic}">
                        <div class="slds-box" style="margin-top:5px;">
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer"  id="schDetails">
                                <thead>
                                    <tr id="row">
                                        <th class="slds-text-heading--label slds-size--2-of-12" scope="col">Bathroom Checklist</th>
                                        <th class="slds-text-heading--label slds-size--2-of-12" scope="col">Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat value="{!workoderList}" var="o" id="APR4">
                                        <apex:repeat value="{!o.Bathrooms__r}" var="c" id="APR5">
                                            <tr>
                                                <td>
                                                    <apex:outputlink onclick="redirectURL('{!c.id}')" style="font-size: 14px;font-family: 'Salesforce Sans',Arial,sans-serif;">{!c.Name}</apex:outputlink>                                            </td>
                                                
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == '')}">
                                                    <td>
                                                        <apex:outputField value="{!c.CheckList_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Maintenance')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Maintenance_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Furnishing and DTH / Wifi Connection')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Furnishing_Verified__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!(o.Case_Status__c == 'Verification')}">
                                                    <td>
                                                        <apex:outputField value="{!c.Verification_Done__c}"/>
                                                    </td>
                                                </apex:outputPanel>
                                                
                                            </tr>
                                        </apex:repeat>
                                    </apex:repeat>
                                </tbody> 
                            </table>
                        </div>
                    </apex:outputPanel>
                </div>
            </div>
        </apex:form>
    </html>
</apex:page>